<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyDiary | Add Entry</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/dynamic.js"></script>
</head>

<body class="home" onload="editEntry_autofillEntryFields();">
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <span class="highlight">My</span>Diary</h1>
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="logout.html">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="sidebar-addEntry">
        <div>
            <a href="home.html">Entry List</a>
        </div>
    </section>
    <section class="add-entry">
        <div>
            <h1>Edit Entry</h1>
            <form id="login" method="post" action="home.html">
                <div class="inputBox">
                    <label for="username">Title</label>
                    <input type="text" name="username" id="inputTitle" />

                    <label for="entryDetails">Datails</label>
                    <textarea name="entryDetails" id="textareaDetails" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" name="login_button" value="Submit" />
            </form>
        </div>
    </section>

    <footer>
        <p>David Muhanguzi, Copyright &copy; 2018</p>
    </footer>
</body>

</html>