<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyDiary | Profile</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/dynamic.js"></script>
</head>

<body class="home" onload="entryContents_getTextFromEntry();">
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <span class="highlight">My</span>Diary</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="current">
                        <a href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="index.html">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="profile">
        <div>
            <h1>Samuel Rukundo</h1>
            <p>Account created: 15/07/18</p>
            <p>Number of Entries: 4</p>
            <button onclick="setReminderField()">Set Reminder</button>
        </div>
    </section>

    <footer>
        <p>David Muhanguzi, Copyright &copy; 2018</p>
    </footer>
</body>

</html>